* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Ubuntu', sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    /* background-color: #eceef5; */
    background-color: whitesmoke;
    /* font-size: 62.5%;
    line-height: 1.5; */
}

body {
    margin-bottom: 110px;
    background-color: whitesmoke;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/* h1 {
    font-size: 5rem;
}

li,
button,
label,
input,
p {
    font-size: 1.5rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
} */

.imagen {
    width: 150px;
    height: 300px;
    opacity: 0.7;
    object-fit: cover;
    object-position: 25% 25%;
}

/* .centered {

    width: 100%;
    height: 300px;
    overflow: hidden;
    display: block;


} */

.texto {
    background-color: orangered;
    opacity: 0.6;
    font-style: italic;
    color: white;
    display: inline;
}