* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

/* #root {
    margin: 1px;
} */

html {
    position: relative;
    min-height: 100%;
    /* background-color: #eceef5; */
    /* background-color: whitesmoke; */
    /* background-color: #E9F1FA; */
    /* background-color: #00ABE4; */
    /* background-color: #242424; */
    /* background-color: red; */
    /* font-size: 62.5%;
    line-height: 1.5; */
    /* width: 100vw;
    height: 100vh; */
}

body {

    margin-bottom: 110px;
    /* background-color: whitesmoke; */
    /* background-color: #6E6E6E; */
    /* background-color: #4382c7; */
    /* background-color: #000000; */
    /* background-color: #242424; */
    /* background-color: aqua; */
    /* width: 100vw;
    height: 100vh; */


}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
    font-size: 10px;
    line-height: 50%;
}



/* h1 {
    font-size: 5rem;
}

li,
button,
label,
input,
p {
    font-size: 1.5rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
    font-weight: normal;
}

h4,
h5 {
    font-size: 2.8rem;
} */

.imagen {
    width: 150px;
    height: 300px;
    opacity: 0.7;
    object-fit: cover;
    object-position: 25% 25%;
}

/* .centered {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: block;
} */

.texto {
    background-color: orangered;
    opacity: 0.6;
    font-style: italic;
    color: white;
    display: inline;
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* .columnas {
    display: flex;
} */

/* ************* UPLOAD FILE ************* */
.upload-wrapper {
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #e9f3fe; */
}

.parent {
    width: 450px;
    margin: auto;
    padding: 2rem;
    background: #ffffff;
    /* background: #6E6E6E; */
    border-radius: 5px;
    box-shadow: 7px 20px 20px rgb(210, 227, 244);
}

.file-upload {
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
}

.file-upload p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #bbcada;
}

.file-upload input {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}